.icon {
  position: fixed;
  z-index: 10;
  right: var(--spaceMedium);
  top: var(--spaceMedium);
  width: 70px;
  height: 35px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1000;
}

.iconMobile {
  display: none;
}

.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.close {
  position: absolute;
  right: var(--spaceMedium);
  top: var(--spaceMedium);
  font-size: 30pt;
  line-height: 0;
  cursor: pointer;
}

.menuList {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spaceMedium);
}

.listIndex {
  font-family: "Signifier-Light-Italic";
  font-size: 8pt;
  line-height: 19pt;
  padding-right: 10px;
  vertical-align: top;
  text-transform: uppercase;
}

.listEntry {
  font-family: "Signifier-Light";
  font-size: 15pt;
  line-height: 25pt;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .icon {
    display: none;
  }
  .iconMobile {
    display: block;
    position: fixed;
    z-index: 10;
    right: var(--spaceMedium);
    top: var(--spaceMedium);
    width: 50px;
    pointer-events: auto;
    z-index: 1000;
  }
  .menuList {
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .listIndex {
    font-size: 10pt;
    line-height: 25pt;
  }
  .listEntry {
    font-size: 15pt;
    line-height: 30pt;
    letter-spacing: 5px;
  }
  .close {
    line-height: 20pt;
  }
}
