:root {
  --spaceSmall: 20px;
  --spaceMedium: 40px;
  --spaceLarge: 300px;
}

@font-face {
  font-family: "Signifier-Light";
  font-style: normal;
  src: url(../../public/fonts/Signifier-Light.otf) format("opentype");
  src: url(../../public/fonts/signifier-light.woff2) format("woff2");
}

@font-face {
  font-family: "Signifier-Light-Italic";
  font-style: normal;
  src: url(../../public/fonts/Signifier-LightItalic.otf) format("opentype");
  src: url(../../public/fonts/signifier-light-italic.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Signifier-Light";
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
li {
  font-size: 15pt;
  line-height: 20pt;
  font-weight: normal;
}

em {
  font-family: "Signifier-Light-Italic";
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  background-repeat: no-repeat !important;
}

/* HOME */

.swiperPrev {
  position: absolute;
  left: 0;
  width: 33.333vw;
  height: 100%;
  cursor: none;
  z-index: 100;
}

.swiperNext {
  position: absolute;
  right: 0;
  width: 33.333vw;
  height: 100%;
  cursor: none;
  z-index: 100;
}

.swiperBackLink {
  position: absolute;
  left: 33.333vw;
  width: 33.333vw;
  height: 100%;
  cursor: none;
  z-index: 100;
}

.studioPageWrapper {
  width: 100vw;
  padding: var(--spaceMedium);
  display: flex;
  flex-direction: column;
}

.studioPageWrapper .textSection {
  padding-top: calc(3 * var(--spaceMedium));
}

.sectionLeft {
  position: relative;
  width: 100vw;
}

.sectionLeftSwiper {
  height: calc(100vh - 2 * var(--spaceMedium));
  width: 100vw;
  z-index: 0
}

.sectionLeftMobile {
  display: none;
}

.sectionRight {
  display: flex;
  justify-content: flex-end;
}

.introOuter {
  height: 101vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.introOuter::-webkit-scrollbar {
  display: none;
}

.introInner {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
}

/* STUDIO */

.studioWrapper {
  width: 100%;
  padding-top: var(--spaceLarge);
  display: flex;
  margin-bottom: 300px;
}

.studioCol-3-7 {
  width: 42.85%;
}

.studioCol-1-7 {
  width: 14.285%;
  margin-left: 40px;
}

.studioHeadline {
  display: flex;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.studioText,
.studioList {
  padding-top: 30px;
}

.studioText p {
  padding-bottom: 30px;
}

.studioText a {
  text-decoration: underline;
  cursor: pointer;
}

.studioQuoteAuthor {
  font-family: "Signifier-Light-Italic";
  text-align: right;
  letter-spacing: 0.5px;
}

.teamImageWrapper {
  width: 100%;
  position: fixed;
  top: var(--spaceMedium);
  pointer-events: none;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.teamEntry {
  cursor: default;
  text-decoration: underline;
}

.teamEntry:hover {
  font-family: "Signifier-Light-Italic";
  text-decoration: none;
}

.teamFoto {
  display: none;
}

.controls {
  position: fixed;
  right: var(--spaceMedium);
  bottom: var(--spaceMedium);
  text-align: right;
  z-index: 101;
  color: white;
  mix-blend-mode: difference;
}

.infobutton {
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  transform: translateX(6px);
}

.textHeadline {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.infoWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: white;
  height: 100vh;
}

.swiperControlsWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.vimeoContainer iframe {
  position: absolute;
  top: 0;
}

/* TEXT */

.textOuter {
  width: 100vw;
  height: 100vh;
  background: white;
  padding: var(--spaceMedium);
  cursor: none;
}

.textSection {
  width: 42.85%;
}

.textSection p {
  padding-bottom: 35px;
}

.textList {
  padding-top: var(--spaceMedium);
  font-family: "Signifier-Light-Italic";
  font-size: 15pt;
}

.headerWrapper {
  display: flex;
}

.headerWrapper h1 {
  white-space: nowrap;
}

.line {
  margin: 20px 0px;
  width: 50px;
  height: 1px;
  background: black;
}

.caption {
  position: fixed;
  padding-left: 30px;
  font-size: 15pt;
  line-height: 20pt;
  transform: translateY(-15px);
  display: flex;
  pointer-events: none;
}

.caption .line {
  transform: translateY(-8px);
  pointer-events: none;
}

.captionHidden {
  opacity: 0;
}

.arbeitenPageWrapper {
  width: 100vw;
  padding: var(--spaceMedium);
  /* display: flex;
  flex-direction: column; */
}

.arbeitenSinglePageWrapper {
  width: 100vw;
  height: 100vh;
  padding: var(--spaceMedium);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: white;
}

.arbeitenSinglePageWrapperMobile {
  display: none;
}

.arbeitenSingleImage {
  padding-bottom: calc(3 * var(--spaceMedium));
}

.captionVisible {
  opacity: 1;
}

.captionVisible .index {
  padding: 0 10px;
}

.lable {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.imageWrapper {
  display: flex;
  margin-bottom: var(--spaceMedium);
}

.sectionMobile .imageWrapper {
  justify-content: center;
}

.index {
  font-family: "Signifier-Light-Italic";
  font-size: 10pt;
  line-height: 17pt;
  padding-right: 5px;
  vertical-align: top;
}

.indexBig {
  font-family: "Signifier-Light-Italic";
  font-size: 15pt;
  line-height: 25pt;
  padding-right: 2px;
  vertical-align: top;
}

/* GALLERY */

.galleryPageWrapper {
  width: 100vw;
  padding: var(--spaceMedium) var(--spaceMedium);
  display: flex;
  flex-direction: column;
}

.galleryImage {
  padding: calc(2 * var(--spaceMedium)) calc(2 * var(--spaceMedium))
    var(--spaceLarge);
}

.exhibitionsWrapper {
  padding-top: var(--spaceLarge);
}

.exhibitionTitle {
  font-family: "Signifier-Light-Italic";
}

.date {
  margin-top: 30px;
}

.sectionMobile {
  display: none;
}

/* PROZESS */

.prozessPageWrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-evenly;
  padding: var(--spaceMedium);
}

.prozessTextWrapper {
  max-width: 500px;
  padding-bottom: 90px;
}

/* KONTAKT */

.kontaktTextWrapper {
  max-width: 400px;
}

.kontaktTextInner {
  min-height: calc(100vh - 2 * var(--spaceMedium));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kontaktLinks {
  padding-top: 80px;
}

.kontaktTextInner a {
  text-decoration: underline;
  cursor: pointer;
}

/* IMPRESSUM ETC */

.pageWrapper {
  padding: var(--spaceMedium);
  width: 100vw;
  display: flex;
}

.pageSection {
  width: 42.85%;
}

.pageSection a {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  :root {
    --spaceSmall: 10px;
    --spaceMedium: 20px;
    --spaceLarge: 150px;
  }

  .mouseDiv {
    display: none;
  }

  .sectionLeft {
    display: none;
  }

  .vimeoContainer {
    width: 100vw;
    height: 125vw;
    display: flex;
    justify-content: center;
    z-index: 0;
  }

  .vimeoContainer iframe {
    position: absolute;
    top: 0;
    height: 125vw;
    object-fit: contain;
  }

  .sectionLeftMobile {
    display: block;
    /* position: absolute; */
    top: -33px;
    left: 0;
    overflow: hidden;
  }

  .studioWrapper {
    /* padding-top: 130vw; */
    display: block;
  }

  .studioCol-3-7,
  .studioCol-1-7 {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 8%;
    padding-bottom: 100px;
  }

  .arbeitenPageWrapper {
    padding: 0;
  }
  .captionMobile {
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .index {
    font-size: 8pt;
    line-height: 12pt;
  }
  .sectionMobile {
    display: block;
  }
  .teamImageWrapper {
    display: none;
  }

  .teamFoto {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pageWrapper {
    flex-direction: column;
  }

  .pageSection {
    width: 100%;
    padding-bottom: 100px;
  }

  .arbeitenSinglePageWrapper {
    display: none;
  }

  .arbeitenSinglePageWrapperMobile {
    display: block;
    padding: var(--spaceMedium);
  }

  .mobileHeaderImage {
    padding-top: 60px;
  }

  .infoWrapper {
    position: relative;
    height: auto;
  }

  .textSection {
    width: 100%;
    padding-right: 20px;
  }
  .textOuter {
    padding-left: 0;
    padding-right: 20px;
    height: auto;
    padding-bottom: 80px;
  }

  .textList {
    font-size: 12pt;
    padding-top: 0;
  }
  .line {
    margin-bottom: 50px;
  }

  .mobileNavigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .mobileNavigationInner {
    display: flex;
  }
  .mobileNavigationInner span {
    font-size: 10pt;
  }
  .teamEntry {
    text-decoration: none;
    pointer-events: none;
  }
}
